*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#experience {
  position: fixed;
  height: 100%;
  width: 100%;
  
  overflow: hidden;
  z-index: 0;

  #experience-canvas{
  height: 100%;
  width: 100%;
  }
}

.abt-btn {
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: 10;
  display: flex;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  background: rgba(192, 192, 192, 0.25);  /* silver, but translucent */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);    /* Safari support */
  color: rgb(35, 33, 33);
  cursor: pointer;
}

:root {
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Experience



// Make a vish text
.star-tooltip {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  font-family: 'Italiana', sans-serif;
  font-size: 18px;
  padding: 8px 16px;
  margin: 0;
  background: rgba(54, 53, 53, 0.5);
  border-radius: 8px;
  pointer-events: none;
  font-family: "Italiana", sans-serif;
    font-weight: 1000;
    font-style: bold;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 10;

  &.visible {
    opacity: 1;
  }
}